body{
	background:#fcf5f5;
	margin:0;
	font-family:"Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
	color:#ffea92;
	padding-left: 240px;
}

main{
	position:relative;
	height:100vh;
}

.helper{
		background:rgba(0,0,0,0.2);
		color:#821c1a;
		position:absolute;
		top:50%;
		left:50%;
		transform:translate3d(-50%,-50%,0);
		padding:1.2em 2em;
		text-align:center;
		border-radius:20px;
		font-size:2em;
		font-weight:bold;
}

ul>a{
	text-decoration: none;
}

span{
	color:#ffffff;
	font-size:0.4em;
	display:block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.text {
  color:#000000;
  font-size:0.45em;
  display:block;
  padding-top: 40px;
}
form{
  text-align: left;
}

form input{
  width: 100%;
}

select{
  width: 100%;
}

.helptext{
  font-size:8px;
  color: gray;
}

.errorlist{
  color:red;
  font-size:80%;
}

.menu{
	background:#821c1a;
	height:100%;
	width:240px;
	position:absolute;
	top:0;
	left:0;
	z-index:10;
	outline:inherit;
}
.avatar{
  background:rgba(0,0,0,0.1);
	padding:2em 0.5em;
	text-align:center;
}

img{
	width:100px;
	border-radius:50%;
	overflow:hidden;
	border:4px solid #ffea92;
	box-shadow:0 0 0 4px rgba(255,255,255,0.2);
}

h2{
	font-weight:normal;
	margin-bottom:0;
}

ul{
		list-style:none;
		padding:0.1em 0;
		margin:0;
}

.icon-banks{
  padding:0em 0em 0em 1em;
  font-size:2.5em;
  font-weight: bold;
  background-repeat:no-repeat;
  background-position:left 5px center;
  background-size:auto 20px;
  transition:all 0.15s linear;
  cursor:pointer;
  background-image:url("./img/classic-computer.svg");
}

.icon-banks:hover{
  background-color:rgba(0,0,0,0.1);
}

.icon-banks:focus{
  outline:none;
}

.icon-warehouse{
    padding:0em 0em 0em 1em;;
    font-size:2.5em;
    font-weight: bold;
    background-repeat:no-repeat;
    background-position:left 5px center;
    background-size:auto 20px;
    transition:all 0.15s linear;
    cursor:pointer;
    background-image:url("./img/layers.svg");
}

.icon-warehouse:hover{
  background-color:rgba(0,0,0,0.1);
}

.icon-warehouse:focus{
  outline:none;
}

.icon-users{
  padding:0em 0em 0em 1em;;
  font-size:2.5em;
  font-weight: bold;
  background-repeat:no-repeat;
  background-position:left 5px center;
  background-size:auto 20px;
  transition:all 0.15s linear;
  cursor:pointer;
  background-image:url("./img/users.svg");
}
.icon-users:hover{
  background-color:rgba(0,0,0,0.1);
}

.icon-users:focus{
  outline:none;
}

.icon-currency{
  padding:0em 0em 0em 1em;;
  font-size:2.5em;
  font-weight: bold;
  background-repeat:no-repeat;
  background-position:left 5px center;
  background-size:auto 20px;
  transition:all 0.15s linear;
  cursor:pointer;
  background-image:url("./img/wallet.svg");
}

.icon-currency:hover{
	background-color:rgba(0,0,0,0.1);
}

.icon-currency:focus{
	outline:none;
}

.icon-product{
  padding:0em 0em 0em 1em;;
  font-size:2.5em;
  font-weight: bold;
  background-repeat:no-repeat;
  background-position:left 5px center;
  background-size:auto 20px;
  transition:all 0.15s linear;
  cursor:pointer;
  background-image:url("./img/colours.svg");
}

.icon-product:hover{
	background-color:rgba(0,0,0,0.1);
}

.icon-product:focus{
	outline:none;
}

.icon-volume{
  padding:0em 0em 0em 1em;;
  font-size:2.5em;
  font-weight: bold;
  background-repeat:no-repeat;
  background-position:left 5px center;
  background-size:auto 20px;
  transition:all 0.15s linear;
  cursor:pointer;
  background-image:url("./img/volume.svg");
}

.icon-volume:hover{
	background-color:rgba(0,0,0,0.1);
}

.icon-volume:focus{
	outline:none;
}

.icon-area{
  padding:0em 0em 0em 1em;;
  font-size:2.5em;
  font-weight: bold;
  background-repeat:no-repeat;
  background-position:left 5px center;
  background-size:auto 20px;
  transition:all 0.15s linear;
  cursor:pointer;
  background-image:url("./img/briefcase.svg");
}

.icon-area:hover{
	background-color:rgba(0,0,0,0.1);
}

.icon-area:focus{
	outline:none;
}

.icon-companies{
  padding:0em 0em 0em 1em;;
  font-size:2.5em;
  font-weight: bold;
  background-repeat:no-repeat;
  background-position:left 5px center;
  background-size:auto 20px;
  transition:all 0.15s linear;
  cursor:pointer;
  background-image:url("./img/archive.svg");
}

.icon-companies:hover{
	background-color:rgba(0,0,0,0.1);
}

.icon-companies:focus{
	outline:none;
}

.icon-contracts{
  padding:0em 0em 0em 1em;;
  font-size:2.5em;
  font-weight: bold;
  background-repeat:no-repeat;
  background-position:left 5px center;
  background-size:auto 20px;
  transition:all 0.15s linear;
  cursor:pointer;
  background-image:url("./img/text-document.svg");
}

.icon-contracts:hover{
	background-color:rgba(0,0,0,0.1);
}

.icon-contracts:focus{
	outline:none;
}

.icon-outlets{
  padding:0em 0em 0em 1em;;
  font-size:2.5em;
  font-weight: bold;
  background-repeat:no-repeat;
  background-position:left 5px center;
  background-size:auto 20px;
  transition:all 0.15s linear;
  cursor:pointer;
  background-image:url("./img/shop.svg");
}

.icon-outlets:hover{
	background-color:rgba(0,0,0,0.1);
}

.icon-outlets:focus{
	outline:none;
}

.icon-contacts{
  padding:0em 0em 0em 1em;;
  font-size:2.5em;
  font-weight: bold;
  background-repeat:no-repeat;
  background-position:left 5px center;
  background-size:auto 20px;
  transition:all 0.15s linear;
  cursor:pointer;
  background-image:url("./img/add-user.svg");
}

.icon-contacts:hover{
	background-color:rgba(0,0,0,0.1);
}

.icon-contacts:focus{
	outline:none;
}

.icon-sale{
  padding:0em 0em 0em 1em;;
  font-size:2.5em;
  font-weight: bold;
  background-repeat:no-repeat;
  background-position:left 5px center;
  background-size:auto 20px;
  transition:all 0.15s linear;
  cursor:pointer;
  background-image:url("./img/shopping-cart.svg");
}

.icon-sale:hover{
	background-color:rgba(0,0,0,0.1);
}

.icon-sale:focus{
	outline:none;
}

.icon-logout{
  padding:0em 0em 0em 1em;;
  font-size:2.5em;
  font-weight: bold;
  background-repeat:no-repeat;
  background-position:left 5px center;
  background-size:auto 20px;
  transition:all 0.15s linear;
  cursor:pointer;
  background-image:url("./img/log-out.svg");
}

.icon-logout:hover{
	background-color:rgba(0,0,0,0.1);
}

.icon-logout:focus{
	outline:none;
}
