{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta
            http-equiv="content-type" content="text/html"
            charset="utf-8"
            name="application-name" content="CRM Crinitsa"
            name="author" content="Max Gvozd"
    >
    <title>CRM Криница</title>
    <link
            rel="icon"
            href="{% static 'img/Gerb-01.ico' %}"
            type="image/x-icon"
    >
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/style.css' %}"
    >
</head>
<body class="custom-skin">
<div class="login">
    <div align="center">
        <img src="{% static 'img/Logo+Gerb_безфона_word-01.png' %}" width="300" height="250">
        <h3 class="head">Личный кабинет сотрудника</h3>
    </div>
    <div class="auth" align="center">
    <span class="field-wrapper">
      <input class="field-login" placeholder="Username" name="username" type="text" autocomplete="on" tabindex="1">
		</span>
        <br>
        <span class="field-wrapper">
      <input class="field-password" placeholder="Password" name="Password" type="password" tabindex="2">
		</span>
    </div>
    <div class="auth-button" align="center">
        <input type="button" value="Войти">
    </div>
</body>
</html>